body    {
    background-color: #777;
    width: 960px;
}

section {
    background-color: #ebebeb;
    width: 247.5px;
    text-align: center;
    margin: auto;
    float: left;
}
header  {
    background-color: #ebebeb;
    text-align: center;
    margin: auto;
    width: 495px;
    height: 100px;
}

nav  {
    background-color: #ebebeb;
    text-align: center;
    margin: auto;
    width: 495px;
    height: 100px;
}

aside  {
    background-color: #ebebeb;
    text-align: center;
    width: 247.5px;
    margin: auto;
    float: left;
}
footer  {
    background-color: #ebebeb;
    text-align: center;
    margin: auto;
    width: 495px;
    clear: left;
    height: 100px;
}
#wrapper {
    width: 495px;
    margin: auto;
}